@font-face {
    font-family: "Puffin-Display-SoftBlk";
    font-weight: normal;
    src: url('fonts/Puffin-Display-SoftBlk.otf');
}

@font-face {
    font-family: "Poppins";
    font-weight: normal;
    src: url('fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: "Poppins";
    font-weight: bold;
    src: url('fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: "Puffin";
    font-weight: bold;
    src: url('fonts/Puffin-Display-SoftBlk.otf');
}

body {
    background-color: #365880;
    width: 1fr;
}

* {

    margin: 0px;
}

.logo {

    grid-area: nav-1;

    padding-left: 20px;
    width: 200px;
    margin-top: 25px;


}

a {
    text-decoration: none;
}

.store {
    padding-top: 40px;
    height: 35px;
    display: inline-block;
    padding-top: 50px;
    margin-left: 0px;

    justify-content: center;
}

.badge {
    height: 35px;

    margin-left: 0px;
    margin-right: 8px;
    justify-content: center;

}

.iphoneGroup4 {
    grid-area: content-2;
    height: 0px;
    opacity: 0;
}



.dv {
    display: grid;
    grid-area: main-1;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
}

.discover {

    display: grid;
    height: 150px;
    justify-content: center;


}

.iphone {
    grid-area: content-1;
    display: grid;
    justify-content: center;
    height: 340px;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 30px;
}



.container {


    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 633px 633px 1fr;
    grid-template-rows: 110px 500px 500px 1fr;
    grid-template-areas:
        "nav-0 nav-1 nav-2 nav-3"
        "main-0 main-1 main-2 main-3"
        "content-0 content-1 content-2 content-3"
        "footer-0 footer-1 footer-1 footer-2";
    /*     gap: 10px; */

}

.container-faqs {

    margin: 0;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 633px 633px 1fr;
    grid-template-rows: 110px 205px 1fr 1fr;
    grid-template-areas:
        "nav-0f nav-1f nav-2f nav-3f"
        "header-1 header-2 header-3 header-3"
        "main-0f main-1f main-2f main-3f"
        "footerf footerf footerf footerf";
    /*     gap: 10px; */
    z-index: 999;

}

.faqs {
    display: block;
    padding: 0px;
    margin-top: 40px;
    margin-bottom: 0px;
    width: 225px;
    margin-left: auto;
    margin-right: auto;
}

.faqs1 {

    height: 0;
}

#nav-1f {
    grid-area: nav-1f;
}

#nav-2f {
    margin-top: 25px;
    margin-left: auto;
    margin-right: 0px;
    justify-content: end;

    grid-area: nav-2f;
}

#footerf {


    grid-area: footerf;


    align-items: center;
    justify-content: center;
}

#header-1 {
    padding-top: 65px;

    grid-column-start: 2;
    grid-column-end: 4;
}


.sticker00 {
    display: block;
    border-bottom: solid 2px #dbdbdb;

}



.sticker0 {
    display: block;
    grid-area: main-1f;
    width: 764px;
    padding: 32px 48px;

}

.sticker1 {
    display: block;
    grid-area: main-1f;
    width: 764px;
    padding: 32px 48px;
    border-top: solid 2px #dbdbdb;

}

.h5 {

    text-align: left;
    font: normal normal 32px/38px Puffin;
    font-weight: normal;
    letter-spacing: 0px;
    color: #365880;

}

.p6 {

    text-align: left;
    font: normal normal 300 16px/25px Poppins;
    letter-spacing: -0.56px;
    color: #365880;
    margin: 16px 0px;

}

.h4 {


    text-align: left;
    font: normal normal 56px/66px Puffin;
    font-weight: normal;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.mainCard {

    grid-area: main-1f;
    background-color: #ffffff;
    border: 2px solid #dbdbdb;
    grid-column-start: 2;
    grid-column-end: 4;
    width: 860px;

    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 5px 5px #00000029;
    margin-bottom: 50px;
    padding-bottom: 25px;
    z-index: 999;
}

/* .line3 {

    width: 100vw;
    z-index: 0;
} */

#main-0f {
    margin: 0;
    /*   background-color: #f9f7f7; */


    grid-area: main-0f;
    z-index: 999;
    grid-column-start: 1;
    grid-column-end: 5;
    z-index: 999;
}

#main-1f {
    margin: 0;
    grid-area: main-1f;
    z-index: 2;
}






.button {

    border: none;
    color: white;
    padding: 9px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    font-family: Poppins;
    font-weight: bold;
    font: normal normal bold 16px/14px Poppins;
    letter-spacing: -0.53px;
    margin-bottom: 0px;

}

.button1 {
    background-color: #365880;
    color: #FFFFFF;
    border: 2px solid #ffffff;
}

.button1:hover {
    background-color: #fff;
    color: #365880;
    transition-duration: 0.4s;
}

.button2 {
    background-color: #365880;
    color: #FFFFFF;
    border: 2px solid #ffffff;
}

.button2:hover {
    background-color: #fff;
    color: #365880;
    transition-duration: 0.4s;
}

.sticker2 {
    grid-area: nav-0;
    background-color: #365880;
    height: 110px;
}

.sticker3 {

    background-color: #365880;
    height: 50px;
}



.h01 {

    font-family: puffin-display-soft, sans-serif;
    font-weight: normal;
    font: normal normal bold 25px/22px puffin;
    color: #fff;
    letter-spacing: -0.88px;
    line-height: 0.9;

    margin-top: 25px;
    margin-bottom: 25px;


}

.RestaurantLogo {
    width: 100px;
    height: auto;
    /* Automatically adjust height based on the width */
    object-fit: contain;
    /* Maintain aspect ratio and fit image within the container */
}



#nav-0 {

    background-color: #365880;
    grid-area: nav-0;

    z-index: -1;
}

#nav-1 {
    background: #365880;
    grid-area: nav-1;


}

#nav-2 {
    margin-top: 25px;
    margin-left: auto;
    margin-right: 0px;
    justify-content: end;
    background: #365880;
    grid-area: nav-2;


}

#nav-3 {
    background: #365880;
    grid-area: nav-3;


}


#main-0 {
    grid-area: main-0;
    background: #365880;
    background-image: url(../img/line3.svg);
    background-size: 100vw 600px;
    /* background-image: 550px 100vw; */
    grid-column-start: 1;
    grid-column-end: 5;

}

#main-1 {
    grid-area: main-1;
    padding: 0%;
    height: 500px;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-items: center;

}

#main-2 {
    grid-area: main-2;
    grid-column-start: 3;
    grid-column-end: 4;


}

#main-3 {

    grid-area: main-3;
    background-color: #365880;
}

#content-0 {
    grid-area: content-0;
    background-color: #365880;
    grid-column-start: 0;
    grid-column-end: 1;

}



#content-2 {
    /*  background-color: #FFFFFF; */
    display: grid;
    justify-content: center;
    align-content: center;
    grid-area: content-2;
    place-items: center;
    margin-bottom: 65px;
    /*     border-radius: 0 15px 15px 0;
    margin-bottom: 65px;
    box-shadow: 0px 5px 5px #00000029; */
    z-index: 0;

}



#content-1 {
    padding-top: 25px;
    grid-area: content-1;
    background-color: #ffffff;
    grid-column-start: 2;
    grid-column-end: 4;
    border-radius: 15px;
    margin-bottom: 65px;
    border: 2px solid #dbdbdb;
    box-shadow: 0px 5px 5px #00000029;




    align-items: top;

    /*  justify-items: center; */
    /*     justify-content: center; */
    /*   align-content: center; */

}

.cena {

    display: grid;
    grid-area: content-1;
    margin-top: 50px;
    margin-right: 50%;
    margin-left: auto;
    float: right;
}

.cena2 {
    height: 0%;
}

.iphoneGroup3 {

    grid-area: content-2;
    display: grid;


    height: 435px;
    opacity: 1;


}

.RestaurantLogo {

    grid-area: footer-1;
    height: 40px;
    opacity: 1;
    margin-right: 40px;
    margin-left: 40px;


}



.ig {

    display: grid;
    grid-area: footer;
    align-self: center;
    justify-self: center;
    margin-bottom: 15px;
    margin-top: 50px;

    margin-left: auto;
    margin-right: auto;
}


#content-3 {
    grid-area: content-3;
    background-color: #365880;

    grid-column-start: 4;
    grid-column-end: 5;
}

footer {
    grid-area: footer-1;

    align-items: center;
    justify-content: center;

    background: #365880;


}

#footer-1 {
    display: flex;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

}

#footer-2 {
    display: flex;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

}

/*#footer2 {

    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}*/



/* .ellissi {
    background-color: #365880;
    border-radius: 0 0 0 150px / 0 0 0 15px;
    height: 200px;
    box-shadow: inset 0 0 15px 40px #00000029;
}

.ellissi-2 {
    background-color: #365880;
    border-radius: 0 0 150px 0 / 0 0 15px 0;
    height: 200px;
}

 */

h1 {
    font-family: Puffin-Display-SoftBlk, sans-serif;
    font-style: normal;
    font-size: 25px/22px;
    color: #fff;
    letter-spacing: -0px;
    line-height: 0.9;

    margin-top: 25px;
    margin-bottom: 25px;
}

h2 {
    font-family: Puffin-Display-SoftBlk, sans-serif;
    font-style: normal;
    font: normal normal bold 25px/30px Puffin;

    margin-top: 25px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.p2 {
    font: normal normal 300 15px/23px Poppins;

    letter-spacing: -0.53px;
    color: #ffffff;
}

.p2footer {

    font: normal normal 300 12px Poppins;
    text-align: center;
    letter-spacing: -0.53px;
    color: #ffffff;
    padding-bottom: 20px;
    margin-top: 20px;

}

h3 {
    margin-top: 25px;
    margin-left: 62px;
    margin-bottom: 0px;
    font-family: Puffin-Display-SoftBlk, sans-serif;
    font-style: normal;
    font: normal normal bold 25px/22px Puffin;
    letter-spacing: 0px;
    color: #365880;
}

p {
    font-family: poppins, sans-serif;
    font-style: normal;
    font: normal normal 300 18px/27px Poppins;
    margin: 0px;

    margin-bottom: 25px;
    letter-spacing: -0.63px;
    color: #FFFFFF;
}

.p3 {
    margin-top: 8px;
    margin-left: 62px;
    font-family: poppins;
    font-style: bold;
    font: bold bold 300 15px/20px Poppins;
    letter-spacing: -0.53px;
    color: #365880;
}

.p4 {
    /*     grid-area: footer;
    display: grid;
    justify-self: center;
    align-self: center; */
    text-decoration: none;
    display: grid;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    font-family: poppins;
    font-style: normal;
    font: normal normal bold 16px/14px Poppins;
    letter-spacing: -0.33px;
    margin-bottom: 0px;

    color: #fff;
}

.social-icon {

    color: #414042;
    text-decoration: none;
}

.social-icon:hover {
    color: #414042;
}

.social-text:hover {
    color: #414042;


}

.social-text {

    text-decoration: none;
}

@media (max-width: 550px) {

    * {
        margin: 0px;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20vh 0 60vh 20vh 0 650px 0 0 360px 500px 60px 0px 0px 190px;
        grid-template-areas:
            "nav-1"
            "main-0"
            "main-1"
            "nav-0"
            "nav-3"
            "main-2"
            "main-3"
            "content-0"
            "content-2"
            "content-1"
            "nav-2"
            "content-3"
            "footer"
            "footer-1";
    }

    .button {

        border: none;
        color: white;
        padding: 9px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 10px;
        text-decoration: none;
        font-family: poppins;
        font-style: normal;
        font: normal normal bold 16px/14px Poppins;
        letter-spacing: -0.53px;
        margin-bottom: 0px;

    }

    .button1 {
        background-color: #365880;
        color: #FFFFFF;
        border: 2px solid #ffffff;
    }

    .button1:hover {
        background-color: #fff;
        color: #365880;
        transition-duration: 0.4s;
    }

    .button2 {
        background-color: #365880;
        color: #FFFFFF;
        border: 2px solid #ffffff;
    }

    .button2:hover {
        background-color: #fff;
        color: #365880;
        transition-duration: 0.4s;
    }









    .sticker2 {
        grid-area: nav-0;
        background-color: #365880;
        height: 0px;
    }



    .h01 {

        font-family: puffin-display-softblk, sans-serif;
        font-style: bold;
        font: normal normal bold 32px puffin;
        color: #fff;
        letter-spacing: 0px;
        line-height: 1.1;

        margin-top: 25px;
        margin-bottom: 25px;




    }



    #nav-0 {
        margin: 50px 30px;
        display: grid;
        align-content: center;

        background-color: #365880;
        grid-area: nav-0;

        z-index: -1;
    }

    #nav-1 {
        background: #365880;

        justify-items: center;
    }

    #nav-2 {

        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        background: #365880;
        grid-area: nav-2;

    }

    #nav-3 {
        background: #365880;
        grid-area: nav-3;
    }

    #main-0 {
        grid-area: main-0;
    }

    #main-1 {

        grid-area: main-1;
        background: #365880;

        background-size: 500px 500px;
        background-repeat: no-repeat;
        padding: 00px;
        justify-items: center;
        height: 100%;



    }




    #main-2 {
        display: grid;
        grid-area: main-2;
        background: #365880;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;



    }

    #main-3 {

        grid-area: main-3;
        background-color: #365880;
    }

    #content-2 {
        display: grid;
        justify-content: center;
        align-content: center;
        margin-right: 30px;
        margin-left: 30px;
        margin-bottom: 0px;
        border-radius: 15px;
        /*         background-color: #FFFFFF; */
        /*   box-shadow: 0px 5px 5px #00000029; */


    }



    #content-1 {
        grid-area: content-1;
        margin: 30px 30px;
        padding-top: 10px;
        grid-area: content-1;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border: 2px solid #dbdbdb;
        height: auto;
        border-radius: 15px;
        z-index: 1;

    }

    .cena2 {
        display: grid;
        height: 226px;
        margin-left: auto;
        margin-right: auto;


    }

    .cena {
        height: 0;
        display: grid;
        align-self: flex-end;
        grid-area: content-1;
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
        float: bottom;
    }





    #content-3 {
        background-color: none;
        grid-area: content-3;
        display: grid;
        justify-content: center;
        align-content: center;
        place-items: center;
        z-index: 999;


    }

    footer {
        /*        grid-area: footer;
        display: grid; */
        /*      align-content: center;
        justify-content: center; */

        background: #365880;

    }







    .dv {

        display: grid;
        grid-area: main-1;
        /* justify-content: center; */
        /*         margin-left: auto;
        margin-right: auto; */
        margin-top: 0px;
        height: 100px;
    }

    .iphone {
        margin-top: 0px;
        grid-area: content-1;
        display: grid;
        justify-content: center;
        width: 1fr;
        height: 65vh;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;





    }

    .iphoneGroup3 {

        height: auto;
        width: 0px;


    }

    .iphoneGroup4 {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-area: content-2;
        opacity: 1;
        height: auto;
        width: 300px;
    }


    .logo {
        display: grid;
        justify-content: center;
        align-content: center;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;


        height: 100px;


    }

    h1 {
        font-family: puffin, sans-serif;
        font-style: normal;
        font-size: 25px/22px;
        color: #fff;
        letter-spacing: s0px;
        line-height: 0.9;

        margin-top: 25px;
        margin-bottom: 25px;
    }

    h2 {
        font-family: puffin, sans-serif;
        font-style: normal;
        font: normal normal bold 25px/30px Puffin;
        letter-spacing: 1em;
        margin-top: 25px;
        letter-spacing: 0px;
        color: #FFFFFF;
    }

    .p2 {
        font: normal normal 300 15px/23px Poppins;
        font-size: 1em;
        letter-spacing: -0.53px;
        color: #ffffff;
    }

    h3 {
        margin-top: 25px;
        margin-left: 30px;
        margin-bottom: 0px;
        font-family: puffin, sans-serif;
        font-style: normal;

        letter-spacing: 0px;
        color: #365880;
    }


    p {
        font-family: poppins, sans-serif;
        font-style: normal;
        font: normal normal 300 18px/27px Poppins;
        margin: 0px;
        font-size: 1.2em;

        margin-bottom: 25px;
        letter-spacing: -0.63px;
        color: #FFFFFF;
    }

    .p3 {
        margin-top: 8px;
        margin-right: 30px;
        margin-left: 30px;
        font-family: poppins;
        font-style: normal;
        font: normal normal 300 15px/20px Poppins;
        letter-spacing: -0.53px;
        color: #365880;
    }

    .container-faqs {

        margin: 0;
        display: grid;
        height: 100vh;
        grid-template-columns: 100vw;
        grid-template-rows: 0px 20vh 60vh 20vh 0px 0px 0px 0px 1fr 0px 0px 90px 90px;
        grid-template-areas:
            "nav-0f"
            "nav-1f"
            "nav-3f"
            "header-0"
            "header-1"
            "header-2"
            "header-3"
            "main-0f"
            "main-1f"
            "main-2f"
            "main-3f"
            "nav-2f "
            "footerf";
        /*     gap: 10px; */
        z-index: 999;

    }

    .faqs {
        height: 0;
        display: block;
        margin-top: 0px;
        width: 225px;
        margin-left: auto;
        margin-right: auto;
    }

    #nav-3f {
        display: flex;
        padding: 0px 0;
        background-color: #365880;
        grid-area: nav-3f;
        border-radius: 15px;
        border: 0px solid #dbdbdb;
        margin: 0px;
        padding: 0px;
        align-items: center;
        justify-content: center;
        /*box-shadow: 0px 5px 5px #00000029;*/
        padding: 0px;

    }

    .faqs1 {
        grid-area: nav-3f;
        height: 350px;
        width: auto;
        display: block;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    #nav-1f {
        justify-items: center;
    }

    #nav-2f {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;


        grid-area: nav-2f;


        grid-area: nav-2f;
    }

    #footerf {


        grid-area: footerf;


        align-items: center;
        justify-content: center;
    }

    #header-1 {
        margin: 0 30px;
        padding-top: 0px;

        grid-column-start: 1;
        grid-column-end: 2;
    }


    .sticker00 {
        display: block;


        border-bottom: solid 2px #dbdbdb;

    }

    .sticker0 {
        display: block;
        grid-area: main-1f;
        width: auto;
        padding: 20px 30px;

    }

    .sticker1 {
        display: block;
        grid-area: main-1f;
        width: auto;
        padding: 20px 30px;
        border-top: solid 2px #dbdbdb;

    }

    .sticker3 {

        color: #365880;
        height: 0px;
        opacity: 0;
    }

    .h5 {

        text-align: left;
        font: normal normal bold 28px/30px Puffin;
        letter-spacing: -1.12px;
        color: #365880;

    }

    .p6 {

        text-align: left;
        font: normal normal 300 16px/25px Poppins;
        letter-spacing: -0.56px;
        color: #365880;
        margin: 16px 0px;

    }

    .h4 {
        margin: 0;

        text-align: left;
        font: normal normal bold 38px/40px Puffin;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }

    .mainCard {

        grid-area: main-1f;
        background-color: #ffffff;
        width: auto;

        border-radius: 15px;
        margin-left: 30px;
        margin-right: 30px;
        box-shadow: 0px 5px 5px #00000029;
        margin-bottom: 50px;
        padding-top: 20px;
        padding-bottom: 25px;
        z-index: 999;
    }

    /* .line3 {
    
        width: 100vw;
        z-index: 0;
    } */

    #main-0f {
        margin: 0;
        /*   background-color: #f9f7f7; */


        grid-area: main-0f;
        z-index: 999;
        grid-column-start: 1;
        grid-column-end: 5;
        z-index: 999;
    }

    #main-1f {
        margin: 0;
        grid-area: main-1f;
        z-index: 2;
        width: 100vw;
    }

    .RestaurantLogo {

        grid-area: footer-1;
        height: 40px;
        opacity: 1;
        margin-right: 40px;
        margin-left: 40px;
        margin-top: 40px;


    }

    #footer-1 {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
        justify-content: center;
        gap: 0 px;
    }

    #footer-2 {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        padding-top: 0px;
        justify-content: center;
        gap: 0 px;
    }

    .logo {

        grid-area: nav-1;

        padding-top: 25px;
        width: 200px;
        height: auto;
        margin-top: 25px;


    }

    .store {
        padding-top: 40px;
        height: 35px;
        display: inline-block;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
        justify-content: left;
        gap: 0 px;
    }

    .badge {
        height: 35px;

        margin-left: 8px;
        margin-right: 8px;
        margin-right: 0px;
        justify-content: left;

    }

}