<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/footer.css">
</head>

<body>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-left-container">
                <img class="footer-logo-icon" src="assets/icons/logo_white.png" alt="pickatable">
                <div class="footer-badges-container">
                    <a href=" https://apps.apple.com/fi/app/pickatable/id1663970460?l=fi" target="_blank">
                        <img class="footer-badge-icon" src="assets/icons/app_store.svg">
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=fi.pickatable.app" target="_blank"></a>
                        <img class="footer-badge-icon" src="assets/icons/play_store.svg">
                    </a>
                </div>
            </div>
            <div class="footer-right-container">
                <p>Company</p>
                <a href="contact_us.html">About us</a>
            </div>
            <div class="footer-right-container">
                <p>Support</p>
                <a href="faqs.html">FAQs</a>
            </div>
            <div class="footer-right-container">
                <p>Follow us</p>
                <a class="footer-instagram-link" href="https://www.instagram.com/pickatable.fi/" target="_blank">
                    <img src="assets/images/ig.svg" alt="Instagram">
                    Instagram
                </a>
            </div>
        </div>
        <p class="footer-copyright">©️ Pick a table Oy 2024</p>
    </footer>
</body>

</html>