<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pickatable - Contact Us</title>
    <link rel="icon" href="../assets/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../assets/fonts/Puffin-Display-SoftBlk.otf" as="font" type="font/otf" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap" as="style">
</head>

<div id="footer-container" class="footer-container">
    <footer class="site-footer">
        <div class="follow-us">
            <a href="https://www.instagram.com/pickatable.fi/" target="_blank">
                <img src="../assets/images/ig.svg" alt="Instagram">
            </a>
            <a href="https://www.instagram.com/pickatable.fi/" target="_blank">
                <p>follow us</p>
            </a>
        </div>
        <div class="copyright">
            <p>
                Ⓒ pickatable 2024
            </p>
        </div>
    </footer>
</div>