<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pickatable - Contact Us</title>
    <link rel="icon" href="../assets/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../assets/fonts/Puffin-Display-SoftBlk.otf" as="font" type="font/otf" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap" as="style">
</head>

<header id="header-container">
    <div class="header-container">
        <div class="container">
            <header class="site-header">
                <a href="../index.html" class="logo">
                    <img class="svg" src="../assets/images/logo.svg" alt="pickatable">
                </a>
                <div class="button-container">
                    <div class="dropdown-menu">
                      <button class="header-button">
                        <a href="../contact_us.html" class="header-button">Contact Us</a>
                      </button>
                      <button class="header-button">
                        <a href="../faqs.html" class="header-button">FAQs</a>
                      </button>
                    </div>
                    <div class="hamburger-icon">&#9776;</div>
                </div>
            </header>
        </div>
    </div>
</header>