<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/header.css">
</head>

<body>
    <header class="header">
        <div class="header-container">
            <div class="header-left-container">
                <div class="header-dropdown-icon" id="header-dropdown-icon">&#9776;</div>
                <a href="/index.html">
                    <img class="header-logo-icon" src="/assets/icons/logo_black.png" alt="pickatable">
                </a>
                <div class="header-links-container">
                    <a href="/contact_us.html">About us</a>
                    <a href="/faqs.html">FAQs</a>
                </div>
            </div>
            <div class="header-dropdown-menu" id="header-dropdown-menu">
                <a href="/contact_us.html">About us</a>
                <a href="/faqs.html">FAQs</a>
                <a href="/restaurant_viewer.html">For restaurants</a>
            </div>
            <div class="header-right-container">
                <a class="header-restaurant-button" href="/restaurant_viewer.html">For restaurants</a>
                <a class="header-action-button" href="/link_redirect.html">Get the app</a>
            </div>
        </div>
    </header>
</body>

</html>